In [3]:
import sqlite3
import csv
import pandas as pd

# load data
df = pd.read_csv('Orders.csv')

# strip whitespace from headers
df.columns = df.columns.str.strip()

con = sqlite3.connect("database.db")

# drop data into database
df.to_sql("Orders", con)

In [4]:
df = pd.read_csv('Brands.csv')

# strip whitespace from headers
df.columns = df.columns.str.strip()

df.to_sql("Brands", con)

In [146]:
queryfirst = '''
SELECT B.BRAND_NAME, SUM(O.UNIT_PRICE*O.QUANTITY) AS TOTALSALES
FROM Drizly Brands B
JOIN Store_Order_Items O ON B.BRAND_ID = O.BRAND_ID
WHERE HOLDING_COMPANY_NAME = 'Beam Suntory' AND (O.Date BETWEEN '2020/03/13' AND '2020/09/20')
GROUP BY B.BRAND_NAME;
'''

In [ ]:
querysecond = '''
SELECT O.PRODUCT_ID, O.STORE_ID
FROM Store_Order_Items O
INNER JOIN
    (SELECT PRODUCT_ID, STORE_ID, MIN(DATE) AS MinDateTime
    FROM Store_Order_Items
    WHERE YEAR(DATE) = '2019'
    GROUP BY PRODUCT_ID) groupedtt 
ON O.PRODUCT_ID = groupedtt.PRODUCT_ID 
AND O.DATE = groupedtt.MinDateTime;
'''

The date format is incorrect, it should be YYYY/MM/DD. Postgres will automatically try to convert incorrect date formats

In [ ]:
querythird = '''
SELECT ORDER_ID, 
CASE WHEN MONTHNAME(DATE) like '%r' THEN 1 ELSE 0 END AS Ends_In_R,
CASE WHEN QUANTITY > 1 THEN 1 ELSE 0 END AS More_Than_One;
'''

In [ ]:
queryfourth = '''
SELECT *
FROM (
    SELECT O.*,
        row_number() OVER (
            PARTITION BY USER_ID 
            ORDER BY DATE
            ) as rank
    FROM Store_Order_Items O
    WHERE DATE >= '2020/07/15'
    ) O
JOIN Drizly Brands B ON O.BRAND_ID = B.BRAND_ID
WHERE O.rank = 3 AND B.HOLDING_COMPANY_NAME = 'Diageo';
'''

In [147]:
query1 = con.execute(queryfirst).fetchall()
querydf = pd.DataFrame(query1, columns =['UNIT_PRICE', 'TotalSales'])

In [ ]:
query1 = con.execute(query).fetchall()
querydf = pd.DataFrame(query1, columns =['Index', 'BRAND_ID', 'BRAND_NAME', 'HOLDING_COMPANY_ID', 'HOLDING_COMPANY_NAME'])

In [40]:
query1 = con.execute(query).fetchall()
querydf = pd.DataFrame(query1, columns =['Index', 'ORDER_ID', 'USER_ID', 'PRODUCT_ID', 'BRAND_ID', 'UNIT_PRICE', 'QUANTITY', 'DATE', 'STORE_ID'])

In [148]:
querydf

Empty DataFrame
Columns: [UNIT_PRICE, TotalSales]
Index: []